@{
    ViewData["title"] = "Chart";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<div class="row">
    <div class="col mb-2">
        <div class="col mb-3">
            <div id="Chart">

            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="col mb-3">
            <div id="Chart1">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Chart.js" asp-append-version="true"></script>
}


